* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: sans-serif;
}

h3 {
    font-family: sans-serif;
}

.game-message {
    padding: 10px;
}

.game-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.gameboard {
    min-width: 400px;
    min-height: 400px;
    border: 1px solid grey;
    margin: 25px;
    display: grid;
    background: rgb(217, 217, 217);
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 1px;
}

.blank {
    background: white;
    border: none;
}

.shipSquare {
    background: rgb(228, 235, 230);
}

.board2 .blank:hover {
    background: rgb(239, 241, 241);
    transition: 100ms ease-in-out;
    border: 1px solid grey;
}

.hitShip {
    background: lightcoral;
    text-align: center;
    vertical-align: middle;
}

.missSquare {
    background: rgb(212, 227, 236);
    text-align: center;
    vertical-align: middle;
}

.disabled {
    opacity: 0.65;
    pointer-events: none;
}
.player {
    display: flex;
    align-items: center;
}

.statusShell {
    width: 100px;
    height: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 5px;
}

.statusSquare:first-child {
    border-left: 1px solid black;
}

.statusSquare {
    width: 20px;
    height: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}

.statusSquareHit {
    width: 20px;
    height: 20px;
    background: lightcoral;
}

.playerOneStatus {
    display: flex;
    flex-direction: column;
}

.playerTwoStatus {
    display: flex;
    flex-direction: column;
}